.usersByIdProgressContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.usersByIdProgressContainer .circularProgress {
  color: #547b0f;
  grid-column-start: 3;
  grid-row-start: 3;
}