.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.circular-progress {
  color: #547b0f;
  grid-column-start: 3;
  grid-row-start: 3;
}

.grid-container-2 {
  height: 97vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-gap: 5px;
}

.back-button {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  margin: 10px;
}

.back-button-icon {
  color: #547b0f;
}